@import url('https://fonts.googleapis.com/css2?family=Homemade+Apple&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat+Brush&family=Homemade+Apple&family=Merriweather:ital@1&family=Nanum+Brush+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat+Brush&family=Homemade+Apple&family=Merriweather:ital@1&family=Nanum+Brush+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat+Brush&family=Homemade+Apple&family=Merriweather:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baloo+Paaji+2&family=Baumans&family=Caveat+Brush&family=Homemade+Apple&family=Merriweather:ital@1&display=swap');
.column{
    width:50%;
    margin:0px;
}

#homepage-top-right{
    margin-top: 300px;
    font-size: 48px;
    font-family: 'Homemade Apple', cursive;
    color:#ff0266;

}

#homepage-top-right-content{
    font-family: 'Baloo Paaji 2', cursive;
    font-size: 20px;
}

#homepage-secondrow{
    font-family: 'Baloo Paaji 2', cursive;
    font-size: 58px;
    margin-top: 80px;
}

#homepage-third-row{
    font-family: 'Baloo Paaji 2', cursive;
    font-size: 20px;
    margin-top: 30px;
    text-align: center;
}

#homepage-fourth-row-card{
    font-size: 20px;
    margin-top: 20px;
}

#homepage-fourth-row-card:hover{
    font-size: 20px;
    margin-top: 20px;
    color:black;
    background-color:#ff0266;
}