@import url('https://fonts.googleapis.com/css2?family=Baloo+Paaji+2&family=Baumans&family=Caveat+Brush&family=Homemade+Apple&family=Merriweather:ital@1&display=swap');
#cuslp-first-row{
    font-family: 'Baloo Paaji 2', cursive;
    font-size: 20px;
    margin-top: 30px;
    text-align: center;
}

#cuslp-header{
    font-family: 'Baloo Paaji 2', cursive;
    font-size: 58px;
    margin-top: 40px;
}