@import url('https://fonts.googleapis.com/css2?family=Homemade+Apple&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat+Brush&family=Homemade+Apple&family=Merriweather:ital@1&family=Nanum+Brush+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat+Brush&family=Homemade+Apple&family=Merriweather:ital@1&family=Nanum+Brush+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat+Brush&family=Homemade+Apple&family=Merriweather:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baloo+Paaji+2&family=Baumans&family=Caveat+Brush&family=Homemade+Apple&family=Merriweather:ital@1&display=swap');


#finddress-btn-area{
    margin-top:40px;
    margin-bottom:80px;
    margin-right:50px;
    font-family: 'Baloo Paaji 2', cursive;
    background-color:#ff0266 ;
    color:white;
}

#finddress-btn-area:hover{
    margin-top:40px;
    margin-right:50px;
    font-family: 'Baloo Paaji 2', cursive;
    background-color: #e8c400;
    color:black;
}

#finddress-btn-area a:hover {
    color: red;
  }

